In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('input.txt', header = None, sep = ',| ', engine = 'python', names = ['x1', 'y1', 'direction', 'x2', 'y2'])
df = df.drop(['direction'], axis = 1)
df

      x1   y1   x2   y2
0    424  924  206  706
1    467  565  432  565
2    722  827  794  899
3    256  172  810  172
4    160  853  148  853
..   ...  ...  ...  ...
495  120  191  893  964
496   18   37  969  988
497  134  976  134  689
498  187  842  187  235
499  526  455  590  455

[500 rows x 4 columns]

In [3]:
# straight line logic
conditions = [df['x1'] == df['x2'], df['y1'] == df['y2']]
choices = ['vertical', 'horizontal']

df['orientation'] = np.select(conditions, choices, default = 'diagonal')
df['straight_flag'] = np.where(df['orientation'] == 'diagonal', 0, 1)

In [4]:
def get_affected_coords(x1, y1, x2, y2):
    '''
    Assumes straight line
    Returns an array of tuple coords
    Tuple required as it's hashable and therefore can be used downstream in the pandas groupby
    
    '''

    coords = []
    # infer direction
    if x1 == x2: 
        small = min(y1, y2)
        big = max(y1, y2)
        x_repeated = np.repeat(x1, big - small + 1)
        y_coords = np.arange(small, big + 1)
        coords = np.stack((x_repeated, y_coords), axis=-1)
    elif y1 == y2:
        small = min(x1, x2)
        big = max(x1, x2)
        y_repeated = np.repeat(y1, big - small + 1)
        x_coords = np.arange(small, big + 1)
        coords = np.stack((x_coords, y_repeated), axis=-1)
    coords_tuple = [tuple(x) for x in coords]
    return coords_tuple

In [5]:
df['affected_coords'] = df.apply(lambda x: get_affected_coords(x['x1'], x['y1'], x['x2'], x['y2']), axis=1)

In [6]:
df

,x1,y1,x2,y2,orientation,straight_flag,affected_coords
0,424,924,206,706,diagonal,0,[]
1,467,565,432,565,horizontal,1,"[(432, 565), (433, 565), (434, 565), (435, 565..."
2,722,827,794,899,diagonal,0,[]
3,256,172,810,172,horizontal,1,"[(256, 172), (257, 172), (258, 172), (259, 172..."
4,160,853,148,853,horizontal,1,"[(148, 853), (149, 853), (150, 853), (151, 853..."
...,...,...,...,...,...,...,...
495,120,191,893,964,diagonal,0,[]
496,18,37,969,988,diagonal,0,[]
497,134,976,134,689,vertical,1,"[(134, 689), (134, 690), (134, 691), (134, 692..."
498,187,842,187,235,vertical,1,"[(187, 235), (187, 236), (187, 237), (187, 238..."
499,526,455,590,455,horizontal,1,"[(526, 455), (527, 455), (528, 455), (529, 455..."

In [7]:
all_affected_coords = df.explode(column = 'affected_coords')
all_affected_coords = all_affected_coords.dropna(subset = ['affected_coords'])

In [8]:
affected_coords_grouped = all_affected_coords[['affected_coords', 'orientation']].groupby('affected_coords').count()
affected_coords_grouped

                 orientation
affected_coords
(16, 492)                  1
(16, 493)                  1
(16, 494)                  1
(16, 495)                  1
(16, 496)                  1
...                      ...
(986, 920)                 1
(986, 921)                 1
(987, 358)                 1
(988, 358)                 1
(989, 358)                 1

[106688 rows x 1 columns]

In [9]:
answer_one = len(affected_coords_grouped[affected_coords_grouped['orientation'] > 1])
answer_one

5147